{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SIGNUP</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}"/>
    <style>
        body {
            background-color: lightgrey;
        }
    </style>
</head>
<body>
<div class="registration-form">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="first_name" name="first_name" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="last_name" name="last_name" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="email" name="username" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control item" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-block create-account">Create Account</button>
        </div>
    </form>
    <div class="social-media">
        <p class="text-center large">Already have an account? <a href="{% url 'login' %}">Login Now</a></p>
        <div class="social-icons">
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $("#submit").click(function () {
        var first_name = $("#first_name").val();
        var last_name = $("#last_name").val();
        var email = $("#email").val();
        var password = $("#password").val();

        if (first_name == '' || last_name == '' || email == '' || password == '') {

            swal({
                title: "Fields Empty!!",
                text: "Please check the missing fields!!",
                icon: "warning",
                button: "Ok!",
            });

        } else {
            swal({
                title: "Successfully signed up!!",
                icon: "success",
                button: "yass!",

            });
        }
    })

</script>


</body>
</html>

